footer {
    background-color:#ccc;

body{
    font-family:sans-serif;
    background: rgb(133, 130, 130);
}

.propriedades {
    color:white;
    text-align:center;
    list-style:none;
    padding:10px;
}



#propriedades2 {
    list-style:none;
    text-align:center;
}

#space {
    letter-spacing:2px;
    text-shadow: 2px 2px 2px white;
}

.mini-space {
    text-shadow:1px 1px 1px white;
}

.margin {
    list-style:none;
    background-color:white;
    display:inline-block;
    box-sizing:border-box;
    overflow:auto;
}

.margin img {
    width:100%;
}